---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>Projects</h1>
    <hr>
  </header>
  <div class="row">
    <div class="col-md-12">
      {% for batch in site.data.projects %}
        <h2 id="{{ batch.year }}">{{ batch.year }}</h2>
        {% for project in batch.projects %}
          <article class="media post-content">
            <div class="media-left">
              <img class="project-image" src="/img/projects/{{ project.id }}.png" alt="{{ project.name }}"/>
            </div>
            <div class="media-body">
              <h3>{{ project.name }}</h3>
              <p>{{ project.desc }}</p>
              <small><em>
                <ul class="project-members">
                  {% for member in project.members %}
                    <li>{{ member }}</li>
                  {% endfor %}
                </ul>
              </em></small>
            </div>
          </article>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

