.assignment {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 50px;
    }

    .deadline-table {
        width: auto;
    }

    .box {
        border: 1px solid #ccc;
        padding: 30px;
        margin: 30px auto;
    }

    counter-reset: milestone;

    .milestone-counter {
        &:before {
            content: "Milestone " counter(milestone) ": ";
        }
        &:after {
            counter-increment: milestone;
            content: "";
        }
    }
}
