.project-image {
  max-width: 160px;
}

.project-members {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  width: 100%;

  li {
    display: inline;

    &:not(:last-child):after {
      content: ', '
    }
  }
}
