.thumbnail {
    padding: 20px;
    height: 400px;

    .student-thumbnail-container {
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    .student-thumbnail {
        $filter: grayscale(100%);
        $hover-filter: none;

        filter: $filter;
        -webkit-filter: $filter;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center center;
        background-size: cover;
        display: block;
        transition: filter 300ms linear,
                    -webkit-filter 300ms linear;

        &:hover {
            filter: $hover-filter;
            -webkit-filter: $hover-filter;
        }
    }

    .student-information {
        padding: 15px 0;
        text-align: center;

        .student-name {
            margin-bottom: 5px;
        }

        .student-faculty {
            color: #999;
            font-size: 14px;
            margin-bottom: 5px;
        }

        hr {
            margin-bottom: 5px;
        }
    }
}
