.thumbnail {
    padding: 20px;

    .student-thumbnail-container {
        position: relative;
        width: 100%;

        &:before {
            content: '';
            display: block;
            padding-top: 100%;
        }
    }

    .student-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-position: center center;
        background-size: cover;
        display: block;
    }
}
