---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>Students</h1>
    <hr>
  </header>
  <div class="row">
    <div class="col-md-2">
      <h4>Cohort</h4>
      <ul>
        {% for batch in site.data.students %}
          <li>
            <a href="#{{ batch.year }}">{{ batch.year }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          {% for batch in site.data.students %}
            <h2 id="{{ batch.year }}">{{ batch.year }}</h2>
            <div class="row">
              {% for student in batch.students %}
                <div class="col-xs-6 col-md-3">
                  <div class="thumbnail">
                    <div class="student-thumbnail-container">
                      <div class="student-thumbnail" style="background-image: url(/img/students/{{ student.id }}.jpg);"></div>
                    </div>
                    <div class="student-information">
                      <h3 class="student-name">
                        <a href="{{ student.blog }}" target="_blank">{{ student.name }}</a>
                      </h3>
                      <p class="student-faculty">{{ student.faculty }}</p>
                      <hr/>
                      <small>{{ student.one_liner }}</small>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </article>
</div>
