---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1>Students</h1>
    <hr>
  </header>
  <div class="row">
    <div class="col-md-12">
      <!-- {% for batch in site.data.students %}
        <li>
          <a href="#{{ batch.year }}">{{ batch.year }}</a>
        </li>
      {% endfor %} -->
      {% for batch in site.data.students %}
        <h2 id="{{ batch.year }}">{{ batch.year }}</h2>
        <div class="row">
          {% for student in batch.students %}
          <div class="col-xs-6 col-md-4">
            <div class="thumbnail">
              <div class="student-thumbnail-container">
                <div class="student-thumbnail" style="background-image: url(/img/students/{{ batch.year }}/{{ student.id }}.jpg);"></div>
              </div>
              <div class="student-information">
                <h4 class="student-name">
                  <a href="{{ student.blog }}" target="_blank">{{ student.name }}</a>
                </h4>
                <p class="student-faculty">{{ student.faculty }}</p>
                <hr/>
                <small>{{ student.one_liner | truncate: 100, '...' }}</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
